<div class="container-flui cefHeader">
    <div class="container cefHeader__container">

        <div class="row">

            <div class="col-md-4">
                <div class="cefHeader__image"></div>
            </div>

            <div class="col text-right">
                <a class="cefHeader__link" href="#item1">Ir para conteúdo</a>
            </div>
        </div>
    </div>
</div>